# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    strategy:
      matrix:
        python-version: [3.9, 3.11]
        plattform: ["Python"]

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: test_db
          POSTGRES_PASSWORD: password
          POSTGRES_USER: user
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: test_db
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Maven cache
      uses: actions/cache@v3
      with:
        path: .tox/shared/.m2
        key: ${{ matrix.plattform }}-${{ matrix.python-version }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ matrix.plattform }}-${{ matrix.python-version }}-maven-
    - name: Pip cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ matrix.plattform }}-${{ matrix.python-version }}-pip-${{ hashFiles('**/*requirements.txt', 'tox.ini', 'setup.py') }}
        restore-keys: |
          ${{ matrix.plattform }}-${{ matrix.python-version }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install coveralls tox tox-gh-actions
    - name: Test with tox for non Jython only
      run: tox
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      if: always() # always run even if tests fail
      with:
        report_paths: '**/build/test-reports/*.xml'
#    - name: Coveralls
#      uses: baztian/coveralls-python-action@new-merged-changes
#      with:
#        parallel: true
#        flag-name: ${{ matrix.plattform }}-${{ matrix.python-version }}
#        coverage-version: 4.5.4
#
#  coveralls_finish:
#    needs: test
#    runs-on: ubuntu-latest
#    steps:
#    - name: Coveralls Finished
#      uses: baztian/coveralls-python-action@new-merged-changes
#      with:
#        parallel-finished: true
